
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finalizing Jquery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <script src="https://use.fontawesome.com/10dc425049.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <style>
        .bc-color{
            padding:8rem;
            background: #FF4E50;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    </style>
    <script>

    </script>
</head>
<body>
    <section class="hero is-warning">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <ul class="nav navbar-end">
                <li>
                    <a href="/TaskOne/TaskOne" class="navbar-item">Task One</a>
                </li>
                <li>
                    <a href="/TaskTwo/TaskTwo" class="navbar-item">Task Two</a>
                </li>
                <li>
                    <a href="/TaskThree/TaskThree" class="navbar-item">Task Three</a>
                </li>
                <li>
                    <a href="/TaskFour/TaskFour" class="navbar-item">Task Four</a>
                </li>
                <li>
                    <a href="/TaskFive/TaskFive" class="navbar-item">Task Five</a>
                </li>
                <li>
                    <a href="/TaskSix/TaskSix" class="navbar-item">Task Six</a>
                </li>
                <li>
                    <a href="/TaskSeven/TaskSeven" class="navbar-item">Task Seven</a>
                </li>
            </ul>
        </nav>
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Finalizing Jquery
                </h1>
                <h2 class="subtitle">
                    lets HTML5 be free and finishing it.
                </h2>
            </div>
        </div>
    </section>
    <br /> <br />
    <div class="container">
        <div class="bc-color">
            <div class="field">
                <div class="field">
                    <label class="label">User Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Enter your name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Enter password">
                    </div>
                </div>
            </div>
            <input id="btn" class="button is-danger" type="button" value="Login" />
        </div>
        
    </div>
</body>
</html>
